<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>

<body>

    <div class="container">
        <h1>Проверка вывода ошибок</h1>
        <p>Спасибо</p>
        <p>
            <b>Email:</b>
            <%= data.email %><br />
                <b>Pass:</b>
                <%= data.pass %><br />
                    <b>isCheck:</b>
                    <%= data.check %>
        </p>
    </div>
</body>

</html>