<!doctype html>
<html lang="ru">

<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Создание аккаунта</title>
    <style>
        body {
            background: #fcfcfc;
        }

        .form {
            width: 400px;
            height: 226px;
            margin-left: 350px;
        }

        #in {
            width: 100%;
        }
    </style>
</head>

<body>

    <!-- Форма регистрации -->
    <div class="container">
        <div class="py-5 text-center">
            <h1>Регистрация</h1>
        </div>
        <div class="form">
            <form action="registration" method="POST">
                <label>Имя</label>
                <input type="text" name="full_name" placeholder="Ваше имя будет отображатся в чате" class="form-control"
                    required> <br>
                <label>Логин</label>
                <input type="text" name="username" placeholder="Введите логин" class="form-control" required>
                <br>
                <label>Пароль</label>
                <input type="password" name="password" class="form-control"
                    placeholder="Введите пароль (более 6 и менее 20 символов)" required>
                <br>
                <label>Подтверждение пароля</label>
                <input type="password" name="password_confirm" class="form-control" placeholder="Повторите пароль"
                    required>
                <div style="color: red;">Пароли не совпадают</div> <br>
                <input id="in" type="submit" value="Отправить" class="btn btn-danger">
                <p>У вас уже есть аккаунт? <a href="/">Войти в чат!</a></p>
            </form>
        </div>
    </div>

</body>

</html>